/* Layout */
.labRow {
  margin: 2rem -15px;
}


/* Card Styles */
.labPackageCard {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 100%;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #f9f9f9;
}


/* Typography */
.labPackageTitle {
  /* color: #2a5c7d; */
  /* font-size: 1.5rem; */
  font-weight: 700;
  /* margin-bottom: 1.5rem; */
}

/* .labPackageDescription {
  color: #4a6572;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
} */

/* Pricing Section */
.labPriceWrapper {
  margin-bottom: 1.5rem;
  columns: 2;
}

/* .labOriginalPrice {
  display: block;
  text-decoration: line-through;
  color: #9e9e9e;
  font-size: 0.9rem;
} */

.labCurrentPrice {
  /* font-size: 2rem; */
  /* font-weight: 800; */
  /* color: #2a5c7d; */
  /* margin: 0.5rem 0; */

  background-color: #de0e4ac9;
  color: #fff;
  /* border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px;
  padding: 2px 7px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
}

.labPriceSub {
  font-size: 0.8rem;
  color: #607d8b;
  margin-left: 0.3rem;
}

/* .labValidDate {
  display: block;
  color: #78909c;
  font-size: 0.85rem;
} */

/* Test List */
.labTestList {
  border-top: 2px dashed #b0bec5;
  border-bottom: 2px dashed #b0bec5;
  padding: 1rem 0;
  /* margin: 1.5rem 0; */
}

.labTestItem {
  color: #37474f;
  padding: 0.3rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #eceff1;
  display: flex;
  align-items: center;
}

.labTestItem:last-child {
  border-bottom: none;
}

/* CTA Section */
.labPackageFooter {
  text-align: center;
  padding-top: 1rem;
}

.labCtaButton {
  background-color: #2a5c7d;
  color: white;
  border: none;
  padding: 0.9rem 1.75rem;
  border-radius: 6px;
  font-weight: 600;
  width: 100%;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.labCtaButton:hover {
  background-color: #1a4461;
  transform: translateY(-1px);
}

/* Hover Effects */
/* .labPackageCard:hover .labPackageTitle {
  color: #1a4461;  
} */

.labTestItem:hover {
  color: #2a5c7d;
  padding-left: 5px;
}