.h_tabs {
    background: #fff;
    box-shadow: 6px 6px 70px rgb(16 40 81 / 23%);
    padding: 20px 10px;
    height: 146px;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.h_tabs img {
    width: 42px;
}

.h_tabs h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    padding-top: 16px;
    margin: 0px;
    color: #161616;
}

.h_tabs:hover {
    cursor: pointer;
    box-shadow: 13px 13px 30px 10px rgb(16 40 81 / 23%);
}
/* 
@media (min-width: 320px) and (max-width: 767.98px) {
    .h_tabs {
        text-align: center;
        background: #fff;
        box-shadow: 6px 6px 70px rgb(16 40 81 / 23%);
        padding: 16px 12px;
        height: 106px;
        border-radius: 15px;
    }

    .h_tabs img {
        width: 32px;
    }

    .h_tabs img {
        color: #12344d;
    }

    .h_tabs h5 {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.4;
        padding-top: 12px;
        margin: 0px;
    }
} */