/* Navbar */
#navbar {
    background-color: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 1px 8px 3px #12344d54;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: #12344d !important;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Mobile Menu Toggle */
.menu-toggle {
    display: none !important;
    background: none;
    border: none;
    font-size: 30px !important;
    font-weight: 700 !important;
    color: #12344d;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
        display: block !important;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: start !important;
        position: absolute;
        top: 68px;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 15px;
        opacity: 0;
        background-color: #ffffff;
        transform: translateX(-100%);
        /* Start completely off-screen to the left */
        transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
    }

    .nav-links.active {
        opacity: 1;
        transform: translateX(0);
        /* Move it in from left to right */
    }

    .nav-links a {
        color: #12344d !important;
        font-size: 18px;
        font-weight: 600;
    }

    .nav-links li {
        text-align: left;
        padding: 0px;
    }
}