.gui-card {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 2px 8px 0 #e0e0e0;
	display: inline-block;
	min-height: 8px;
	min-width: 8px;
	padding: 16px;
    .card-footer{
        overflow: hidden;
        .btn-appointment{
            overflow: hidden;
            .btn-group{
                overflow: hidden;
            }
        }
    }
}
.test-card-container {
	.test-header {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0;
		.header-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			& > button {
				min-height: 32px !important;
				width: 65px;
				min-width: 32px;
			}
			p {
				word-break: break-all;
				overflow-wrap: break-word;
				white-space: nowrap;
			}
		}
		.add-btn {
			border-color: var(--oui-green-100) !important;
		}
	
		.price {
			display: flex;
			align-self: flex-end;
			gap: 8px;
			align-items: center;
			.strike-price {
				color: #616161;
			}
		}
	}
	.test-alias-container {
		margin-top: 12px;
		padding-top: 8px;
		position: relative;
		word-break: break-all;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-image: linear-gradient(90deg, #ececec 50%, hsla(0, 0%, 69%, 0) 0);
			background-size: 18px 2px;
			background-repeat: repeat-x;
		}
		.also-known-as {
			color: #fe970a;
			font-style: italic;
		}
		.test-aliases {
			color: #616161;
			font-style: italic;
		}
		.test-alias-separator {
			color: #b1b1b1;
			font-style: italic;
		}
	}
}
.gui-button {
	-webkit-tap-highlight-color: transparent;
	align-items: center;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .039);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	transition: background-color .25s ease-in-out, opacity .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out, box-shadow .25s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	&.gui-button--positive {
		background-color: #fff;
		border-color: #85c4b7;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .039);
		color: #398070;
	}
	&.gui-button--small {
		min-height: var(--oui-scale-8);
		padding: 2px 16px;
		& > label {
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0;
			line-height: 16px;
			text-decoration: none;
			text-indent: 0;
			text-transform: none;
		}
	}
	.gui-button--secondary-label {
		align-items: center;
		background: #fff;
		color: #3c3c3c;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 100%;
		transition: top .25s ease-in-out;
		width: 100%;
		z-index: 2 !important;
	}
	.gui-button--label {
		cursor: pointer;
		z-index: 1;
	}
}
.gui-ty {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.gui-ty--line-height-18 {
		line-height: 18px;
	}
	&.gui-ty--size-14 {
		font-size: 14px;
	}
	&.gui-ty-w600 {
		font-weight: 600;
	}

	&.gui-ty--line-height-16 {
		line-height: 16px;
		line-height: 16px;
		line-height: 16px;
		line-height: 16px;
		line-height: 16px;
	}
	&.gui-ty--size-12 {
		font-size: 12px;
		font-size: 12px;
		font-size: 12px;
		font-size: 12px;
	}
	
	&.gui-ty--decoration-line-through {
		text-decoration: line-through;
	}
	&.gui-ty--weight-500 {
		font-weight: 500;
		font-weight: 500;
	}
	&.gui-ty--line-height-20 {
		line-height: 20px;
	}
	&.gui-ty--size-16 {
		font-size: 16px;
	}
	&.gui-ty--weight-800 {
		font-weight: 800;
	}
}
.gui-tgrey100 {
	color: var(--oui-grey-100);
	color: #3c3c3c;
}
.item-card9-footer {
	.view-details {
		font-size: 11px;
	}
}
