@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Figtree", sans-serif
}

a {
  text-decoration: none !important;
}

.text-primary-custom {
  color: #12344d !important;
}

.btn-outline-primary {
  color: #12344d !important;
  border-color: #12344d !important;
  font-weight: 500!important;
}

.btn-primary {
  background-color: #12344d !important;
  border-color: #12344d !important;
}


/* topheader */
.top_hdr {
  background: #12344d;
  /* background: #007C9D; */
  padding: 2px 0px 6px;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* z-index: 30; */
}

.top_hdr .nav-link {
  font-size: 12px;
  color: #fff !important;
  font-weight: 400;
  border-right: .08rem solid #ffffff;
  padding: 0px;
  margin-top: 9px;
  letter-spacing: .4px;
  line-height: 1;
}

.recognation_logo {
  width: 52px;
  padding-top: 2px;
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
  }
}


/* header-new */
.header-new {
  border-bottom: 1px solid #dee2e6 !important;
  margin-top: 3%;
}

.header-new .form-control {
  font-size: 12px !important;
  padding: 11px !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.hdr-srch button {
  /* padding: 8px 12px !important; */
}

.hdr_srch_icon {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
}


.ajax-search-result {
  position: absolute;
  top: 39px;
  min-height: auto;
  overflow-y: scroll;
  z-index: 999;
  background: #fff;
  max-height: 300px;
  width: 100%;
}

.ajax-search-result li {
  border-bottom: 1px solid #f3f3f3;
}

.ajax-search-result li a {
  display: block;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.hdr_tel_lable {
  font-size: 12px;
  text-align: left;
  color: #000;
  padding-bottom: 3px;
  font-weight: 500;
}

.btn-outline-primary {
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  padding: 0.375rem;
  color: #12344d !important;
  border-color: #12344d !important;
}

.btn-success {
  background-color: #31ccb0 !important;
  border-color: #31ccb0 !important;
}

.btn-outline-success {

  border-color: #31ccb0 !important;
}

.btn-outline-success:hover {
  background-color: #31ccb0 !important;
}

.btn-outline-primary:hover {
  background-color: #12344d !important;
  border-color: #12344d !important;
  color: #FFF !important;
}

.btn-outline-primary a:hover {
  color: #fff !important;
}

.btn-outline-primary a {
  color: #12344d;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.upload-prescription-btn .button {
  /* width: 100%; */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background-color: #12344d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
}

.upload-prescription-btn .button:hover {
  background-color: #12344d;
}

.upload-prescription-btn .button svg {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .header-new {
    margin-top: 10%;
  }

  .header-new .ah_logo {
    height: 20px;
  }

  .header-new .form-control {
    font-size: 12px !important;
    padding: 11px !important;
  }

  /* .hdr_srch_icon {
    position: absolute;
    top: 2.9px;
    right: 2px;
    padding: 8.6px 12px;
  } */

  .upload-prescription-btn .button {
    justify-content: start;
    align-items: center;
    padding: 5px;
  }

}

/* footer */
footer {
  background: #060822;
  padding: 45px 0px;
  color: #fff;
}

.ftcol {
  color: #E96A25 !important;
}

.dp-col4 {
  color: #ffffff;
  text-align: left;
  font-size: 0.9rem !important;
  line-height: 28px;
  padding-top: 12px;
}

footer .form-control {
  font-size: .84rem;
  padding: 0.66rem 0.75rem;
}

textarea {
  resize: vertical;
}

.ft-btn {
  color: #fff;
  background: #12344d;
  border: 1px solid #12344d;
  padding: 0.5rem;
}

.ft-btn:hover {
  background-color: #12344d;
}

.helplineno p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 12px !important;
}

.ftcol {
  color: #E96A25 !important;
}

.helplineno h6 {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  letter-spacing: .05rem;
  color: #fff;
}

.helplineno p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.helplineno p a {
  color: #12344d;
  font-weight: 600;
  text-decoration: none;
}

footer h5 {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 5px;
  margin-bottom: 12px;
  margin-top: 4px;
  position: relative;
}

footer h5:after {
  background-image: linear-gradient(90deg, #EC8046, #060822);
  bottom: 0px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 50px;
  border-radius: 10px;
}

footer ul li {
  padding-bottom: 6px;
  line-height: 19px;
}

footer ul li a {
  color: #94a0a3;
  font-size: 12px;
  text-decoration: none;
}

.ftr_addtln_inof {
  border: 1px solid;
  border-radius: 16px;
  padding: 20px 28px 12px 28px;
}

.ftr_addtln_inof p {
  font-size: 12px;
  margin-bottom: 6px;
}

.ftr_addtln_inof p a {
  color: #12344d;
  font-size: 12px;
  text-decoration: none;
}

.appstore h2 {
  font-size: 22px;
  color: #23698D;
}

.appstore h3 {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.cprght_ftr {
  background: #12344d;
  padding: 12px 0px;
  color: #fff;
  font-size: 12px;
}

.cprght_ftr .nav-item a {
  font-size: 12px;
  color: #fff !important;
  font-weight: 300;
  border-right: 0.08rem solid #ffffff;
  padding: 0px;
  margin-top: 9px;
  letter-spacing: .4px;
  line-height: 1;
}

.cprght_ftr .nav-item a {
  font-size: 12px;
  color: #fff !important;
  font-weight: 300;
  border-right: 0;
  padding: 0px;
  margin-top: 9px;
  letter-spacing: .4px;
  line-height: 1;
}

.footer-main .social li {
  float: left;
  margin-right: 15px;
  display: inline-block;
  list-style: none;
  font-size: 20px;
}

.footer-main .social li a {
  color: #6e82a9;
  line-height: 0;
}

.footer-main .payments li {
  float: left;
  margin-right: 15px;
  display: inline-block;
  list-style: none;
  font-size: 20px;
}

.footer-main .payments li a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 0;
}



footer .border-bottom {
  border-bottom: 1px solid rgba(167, 180, 201, 0.1) !important;
}

.footer-main p {
  color: rgba(255, 255, 255, 0.7);
}

.footer-main a {
  line-height: 2;
  transition: opacity .2s;
  color: rgba(255, 255, 255, 0.6);
}

.footer-main li:hover a {
  color: #fff;
}

.footer-main .contact-footer li {
  transition: opacity .2s;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: 0.8rem;
}

.footer-main .contact-footer li:last-child {
  margin-bottom: 0;
}

.footer-main .contact-footer li i {
  position: absolute;
  left: 0;
  top: 5px;
}

.footer-main.footer-main1 a {
  color: #29334c;
}

.footer-main.footer-main1 .form-control {
  border: 1px solid #e4e6f1 !important;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.8);
}

.footer-links a:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .footer-main h6 {
    margin-top: 2rem;
  }

  footer.bg-dark .text-left {
    text-align: center !important;
  }

  footer.bg-dark .social {
    text-align: center;
  }

  footer.bg-dark .social li {
    float: none;
    text-align: center;
  }

  .footer-main .row div:first-child h6 {
    margin-top: 0;
  }
}

.footer-main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid rgba(167, 180, 201, 0.1);
  border-bottom: 1px solid rgba(167, 180, 201, 0.1);
}

footer .border-top {
  border-top: 1px solid rgba(167, 180, 201, 0.1) !important;
}

.footer-links a:before {
  content: '\e049';
  margin-right: 5px;
  position: relative;
  opacity: 0.5;
}

.footer-main .form-control {
  border: 0 !important;
}

.footer-payments {
  padding-left: 0;
  list-style: none;
  margin: 0;
  line-height: 1.25rem;
}

.footer-payments li {
  display: inline-block;
  padding: 0 11px;
  font-size: 20px;
}

.footer-main img {
  width: 80px;
  border: 1px solid #eff4f5;
  padding: 2px;
}

.footer-bg {
  background: #1d1f35;
}

.footer-gallery img {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.footer-main a:hover,
.footer-links a:hover {
  color: #FFF;
}


.footer-style2 .footer-main li:hover a,
.header-main i {
  color: #FFF;
}

.widget-user .user-wideget-footer {
  padding-top: 30px;
}

.user-wideget-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

.footer-main h6 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: #FFF;
}

.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typewriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */

  letter-spacing: .15em;
  /* Adjust as needed */
  width: 0;
  /* Start with no width */
  animation:
    typing 3.5s steps(40, end) infinite,
    /* Loop typing effect infinitely */
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.font-bold {
  font-weight: 700;
}

.text-xl {
  font-size: 1rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ring-offset-background {
  --tw-ring-offset-color: hsl(var(--background));
}

.rounded-md {
  border-radius: calc(var(--radius) - 2px);
}

.whitespace-nowrap {
  white-space: nowrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.ml-2 {
  margin-left: 0.5rem;
}

button,
select {
  text-transform: none;
}

button,
select {
  text-transform: none;
}

.items-start {
  align-items: flex-start;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.space-x-2> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.transition-colors {
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ring-offset-background {
  --tw-ring-offset-color: hsl(0 0% 100%);
}

.bg-transparent {
  background-color: transparent;
}

.h-auto {
  height: auto;
}

.inline-flex {
  display: inline-flex;
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-card-foreground {
  color: hsl(240 10% 3.9%);
}

.bg-card {
  background-color: hsl(0 0% 100%);
}

.border {
  border-width: 1px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.max-w-md {
  max-width: 28rem;
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* search-page */
@media screen and (max-width: 767px) {
  h2 {
    font-size: 16px !important;
    line-height: normal !important;
  }

  button {
    padding: 4px 10px !important;
    font-size: 12px !important;
  }

  .sptb button {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 4px 10px !important;
    font-size: 12px !important;
  }

  .sptb svg {
    width: 16px;
  }

  .sptb .read-btn {
    padding: 0px !important;
  }

}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0e1d52 !important;
}

.sptb button {
  display: flex;
  align-items: center;
  gap: 7px;
}

.sptb svg {
  width: 20px;
}

button {
  padding: 10px 12px;
  background-color: #12344d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
}

.header_call {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #0e3f6c;
}